.ls--field--type-location-selector-type [class*="--weight"] {
  display: none;
}
.ls--field--type-location-selector-type textarea {
  display: none !important;
}
.ls__select-loader:after {
  content: '';
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../images/throbber-active.gif) no-repeat center center;
}
